.username {
    color: #9d9d9d;
}

.tablediv {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.tablediv div {
    padding-bottom: 10px;
}

.tablelist {
    word-wrap: break-word;
    word-break: break-all;
}